{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 contact">
				<h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
				<p>Email: <span class="info">{{ contact.email }}</span></p>
				<p>Telefon: <span class="info">{{ contact.phone }}</span></p>
				<p>Data urodzenia: <span class="info">{{ contact.birth_date }}</span></p>
				
				{% if loggedUser() %}
				<a href="/edit/{{ contact.id }}" class="btn btn-info">Edytuj kontakt</a>
				<a href="/delete/{{ contact.id }}" class="btn btn-danger">Usuń kontakt</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}