{% extends "base.html" %}
{% block content %}

    <section class="contacts">
      <div class="container">
        <div class="row">
        <!-- single contact -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single-contact">
              <span class="glyphicon glyphicon-user"></span>
              <div class="data">
                <p>Imię: <span class="info">Przemysław</span></p>
                <p>Nazwisko: <span class="info">Wroński</span></p>
                <p>Email: <span class="info">wronski.przemyslaw@gmail.com</span></p>
                <p>Numer telefonu: <span class="info">665-564-544</span></p>
                <p>Data urodzenia: <span class="info">22 marzec 1989</span></p>
              </div>
            </div>
          </div>
          <!-- single contact -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single-contact">
              <span class="glyphicon glyphicon-user"></span>
              <div class="data">
                <p>Imię:</p>
                <p>Nazwisko:</p>
                <p>Email:</p>
                <p>Numer telefonu:</p>
                <p>Data urodzenia:</p>
              </div>
            </div>
          </div>
          <!-- single contact -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single-contact">
              <span class="glyphicon glyphicon-user"></span>
              <div class="data">
                <p>Imię:</p>
                <p>Nazwisko:</p>
                <p>Email:</p>
                <p>Numer telefonu:</p>
                <p>Data urodzenia:</p>
              </div>
            </div>
          </div>
          <!-- single contact -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single-contact">
              <span class="glyphicon glyphicon-user"></span>
              <div class="data">
                <p>Imię:</p>
                <p>Nazwisko:</p>
                <p>Email:</p>
                <p>Numer telefonu:</p>
                <p>Data urodzenia:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
