{% extends "base.html" %}
{% block content %}

    <section class="contacts">
      <div class="container">
        <div class="row">

        {% for contact in contacts %}
        <!-- single contact -->
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="single-contact">
              <span class="glyphicon glyphicon-user"></span>
              <div class="data">
                <p>Imię: <span class="info">{{ contact.first_name }}</span></p>
                <p>Nazwisko: <span class="info">{{ contact.last_name }}</span></p>
                <a href="/contact/{{ contact.id }}" class="btn btn-primary">Więcej...</a>
              </div>
            </div>
          </div>
        {% endfor %}
          
        </div>
      </div>
    </section>

{% endblock %}
